*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20%; }
  .heading-primary--main {
    font-size: 6rem;
    display: block;
    letter-spacing: 1.5rem;
    font-weight: 900;
    animation: moveInLeft 1s ease-out;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-bottom: 6rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  color: #fff; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #8f2323;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: .5rem; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.section-info {
  background-color: #cc9d3a;
  height: 115vh;
  padding: 20rem 0;
  margin-top: -20vh; }

.section-features {
  height: 40vh;
  padding: 4rem 2rem;
  background-color: #f7f7f7;
  margin: 0; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../../img/img-1.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }

.col-1-of-4 {
  width: calc((100% - 3*6rem)/4); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline: 0.5rem solid #fff; }
    .composition__photo--3 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      left: 18rem;
      top: 6rem; }
    .composition__photo--1 {
      left: -5rem;
      top: 25rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }

.feature-box {
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  padding: .5rem;
  height: 55%;
  border-radius: 3px; }
  .feature-box__text {
    height: 40%;
    margin: 2rem;
    padding: .5rem; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.05); }
