/*
0 -400px Phone only
400-600px Phone-big
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
1200 - 1800 desktop
1800px Big desktop
*/
/*
-phone
-tab-port
-tab-land
-big-desktop
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 25em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes slide {
  0% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/jenny-marvin.jpg); }
  25% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/julian-schiemann.jpg); }
  50% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/camilo-fierro.jpg); }
  75% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/img-1.jpg); }
  100% {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/img/meg-sanchez.jpg); } }

body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #3a3636;
  padding: 0; }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 600;
    animation: moveInLeft 1s ease-out;
    backface-visibility: hidden; }
    @media (max-width: 25em) {
      .heading-primary--main {
        line-height: 1.1; } }
  .heading-primary--sub {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    animation: moveInRight 1s ease-out;
    margin-bottom: 6rem; }
    @media (max-width: 75em) {
      .heading-primary--sub {
        font-size: 6rem; } }
    @media (max-width: 25em) {
      .heading-primary--sub {
        font-size: 5rem;
        margin-bottom: 4rem; } }
  .heading-primary--description {
    font-weight: 200; }

.heading-secondary {
  font-size: 7.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
  color: #000;
  display: block; }
  @media (max-width: 75em) {
    .heading-secondary {
      font-size: 6rem;
      width: 50vw; } }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 5rem;
      width: 50vw; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 5rem;
      margin: 0rem;
      padding: 0;
      width: 50vw; } }
  @media (max-width: 25em) {
    .heading-secondary {
      font-size: 4rem;
      margin-top: 5rem;
      padding: 0;
      width: 80vw; } }
  .heading-secondary__testimonials {
    color: #000; }
    @media (max-width: 75em) {
      .heading-secondary__testimonials {
        font-size: 1.8rem; } }
    @media (max-width: 25em) {
      .heading-secondary__testimonials {
        font-size: 1.8rem; } }
  .heading-secondary__paragraph {
    margin-left: 0;
    font-size: 3.4vw;
    letter-spacing: -.061vw;
    margin-left: 1.4vw;
    font-weight: 100;
    text-align: left;
    line-height: 1.1;
    display: block; }
    @media (max-width: 75em) {
      .heading-secondary__paragraph {
        font-size: 4rem; } }
    @media (max-width: 25em) {
      .heading-secondary__paragraph {
        font-size: 4.5rem;
        margin-bottom: .5rem;
        text-align: center; } }

.heading-tertiary {
  font-size: 1.8rem;
  color: #e74c3c;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: .5rem; }
  .heading-tertiary__reservation {
    padding-left: 3rem;
    padding-top: 3rem;
    font-size: 1.9rem; }
  .heading-tertiary__invitation {
    color: #fff;
    font-size: 3.5rem;
    text-transform: initial; }
    @media (max-width: 37.5em) {
      .heading-tertiary__invitation {
        display: block;
        text-align: center; } }
    @media (max-width: 25em) {
      .heading-tertiary__invitation {
        display: none; } }

.paragraph {
  font-size: 1.6rem;
  color: #000; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }
  @media (max-width: 75em) {
    .paragraph {
      font-size: 1.8rem; } }
  @media (max-width: 25em) {
    .paragraph {
      font-size: 1.8rem;
      margin-bottom: .5rem;
      width: 80%;
      text-align: justify;
      padding: 2rem; } }
  .paragraph__left {
    position: relative;
    font-size: 1.8rem;
    color: #000;
    margin: 4rem 15rem 8rem 5rem;
    padding-left: 5rem;
    padding-right: 10rem;
    text-align: left;
    font-size: 1.8rem;
    width: 80vw; }
  .paragraph__column {
    color: #000; }
    @media (max-width: 75em) {
      .paragraph__column {
        font-size: 1.8rem; } }
    @media (max-width: 25em) {
      .paragraph__column {
        font-size: 1.8rem;
        margin-bottom: .5rem; } }

.u-center-text {
  text-align: center; }

.u-left-text {
  margin-left: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

/*
0 -400px Phone only
400-600px Phone-big
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
1200 - 1800 desktop
1800px Big desktop
*/
/*
-phone
-tab-port
-tab-land
-big-desktop
*/
.section-info {
  background-color: #f1f1f1;
  padding: 20rem 0;
  margin-top: -20vh;
  z-index: -5;
  position: relative; }

.section-features {
  padding: 4rem 2rem;
  background-color: #111619;
  margin: 15vh 0; }

.section-testimonials {
  position: relative;
  padding: 15rem 0; }

.section-reservation {
  padding: 6rem 0;
  background-image: linear-gradient(#f1f1f1);
  background-size: cover; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../../img/img-1.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  animation: slide 30s infinite;
  background-attachment: fixed; }
  @media (max-width: 75em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  @media (max-width: 25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem; }
  .header__logo {
    height: 4.5rem;
    position: fixed; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
      @media (max-width: 25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media (max-width: 25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
    @media (max-width: 25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 80rem; } }
  @media (max-width: 25em) {
    .row {
      max-width: 70rem; } }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }

.col-1-of-3 {
  width: calc((100% - 2*6rem)/3); }

.col-1-of-4 {
  width: calc((100% - 3*6rem)/4); }

.col-2-of-3 {
  width: calc(2*((100% - 2* 6rem)/3) + 6rem); }

.navigation {
  background: url(/img/img1_grey2.jpg) no-repeat;
  background-size: cover;
  box-sizing: inherit;
  width: 100vw;
  height: 100%;
  z-index: 900;
  position: fixed;
  top: -100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  @media (max-width: 37.5em) {
    .navigation {
      overflow-y: visible; } }
  @media (max-width: 25em) {
    .navigation {
      overflow-y: visible; } }
  .navigation__logo--box {
    position: absolute;
    display: block;
    width: 8.5rem;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity;
    z-index: 2000; }
    @media (max-width: 56.25em) {
      .navigation__logo--box {
        top: 10%;
        display: block;
        margin-bottom: 2rem;
        width: 10.5rem; } }
    @media (max-width: 37.5em) {
      .navigation__logo--box {
        top: 20%;
        display: block;
        margin-bottom: 2rem;
        width: 10.5rem; } }
    @media (max-width: 25em) {
      .navigation__logo--box {
        display: block;
        margin-bottom: 4rem;
        width: 9.5rem; } }
  .navigation__logo {
    width: 8.5rem;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem; }
    @media (max-width: 56.25em) {
      .navigation__logo {
        width: 9.5rem;
        padding-bottom: 3rem;
        margin-top: 3rem; } }
    @media (max-width: 37.5em) {
      .navigation__logo {
        display: block;
        width: 10.5rem;
        margin: 3rem; } }
    @media (max-width: 25em) {
      .navigation__logo {
        width: 9.5rem;
        margin-top: 8rem; } }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    z-index: 2000; }
    @media (max-width: 75em) {
      .navigation__list {
        width: 60%; } }
    @media (max-width: 56.25em) {
      .navigation__list {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .navigation__list {
        text-align: left;
        left: 30%;
        top: 70%;
        margin: .5rem 3rem .5rem 6rem; } }
    @media (max-width: 25em) {
      .navigation__list {
        text-align: left;
        left: 30%;
        margin: .5rem 3rem .5rem 5rem; } }
  .navigation__item {
    display: inline-block;
    padding: 1rem;
    margin: 0 2rem;
    z-index: 2000; }
    @media (max-width: 75em) {
      .navigation__item {
        padding: .5rem;
        margin: .5rem; } }
    @media (max-width: 56.25em) {
      .navigation__item {
        padding: .5rem; } }
    @media (max-width: 37.5em) {
      .navigation__item {
        display: block;
        padding: 0;
        margin: 0.5rem; } }
    @media (max-width: 25em) {
      .navigation__item {
        display: block;
        padding: 0 5rem;
        margin: 0.5rem; } }
  .navigation__link:link, .navigation__link:visited {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    z-index: 2000; }
    @media (max-width: 75em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 3rem;
        padding: .5rem;
        margin: .5rem; } }
    @media (max-width: 56.25em) {
      .navigation__link:link, .navigation__link:visited {
        font-size: 3rem; } }
    @media (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        margin-top: 1rem;
        font-size: 5rem;
        margin: .5rem;
        font-weight: 200; } }
    @media (max-width: 25em) {
      .navigation__link:link, .navigation__link:visited {
        margin-top: 1rem;
        font-size: 5rem;
        margin: .5rem;
        font-weight: 200; } }
  .navigation__link:hover, .navigation__link:active {
    text-decoration: none; }
  .navigation__link::after {
    border-radius: 1rem;
    border-top: 0.2rem solid #e74c3c;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .24rem;
    left: 0;
    transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out; }
  .navigation__link:hover::after {
    right: 0;
    border-color: #e74c3c; }
  .navigation__icon {
    position: relative;
    margin-top: 4.5rem;
    margin-left: .5rem;
    z-index: 1500; }
    @media (max-width: 25em) {
      .navigation__icon {
        margin-top: 3rem;
        margin-left: 0; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 4rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
      @media (max-width: 25em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 3rem;
          height: 1px; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
      @media (max-width: 25em) {
        .navigation__icon::before {
          top: 1rem; } }
    .navigation__icon::after {
      top: .8rem; }
      @media (max-width: 25em) {
        .navigation__icon::after {
          top: 1.9rem; } }
    .navigation__icon--contact, .navigation__icon--booking {
      height: 10rem;
      width: 10rem;
      position: fixed;
      z-index: 2000;
      text-align: center;
      cursor: pointer;
      background-color: transparent; }
  .navigation__footer {
    padding: 1.8rem 0;
    bottom: 10%;
    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    list-style: none;
    z-index: 2000; }
    @media (max-width: 75em) {
      .navigation__footer {
        margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        transform: translate(-50%, 50%);
        width: 100vw;
        text-align: center;
        bottom: 5%; } }
    @media (max-width: 56.25em) {
      .navigation__footer {
        margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 3rem;
        transform: translate(-50%, -50%);
        width: 100vw; } }
    @media (max-width: 37.5em) {
      .navigation__footer {
        width: 80vw;
        margin-top: 5rem;
        position: relative;
        transform: translate(-50%, 350%);
        height: 30rem; } }
    @media (max-width: 25em) {
      .navigation__footer {
        width: 80vw;
        margin-top: 5rem;
        padding-right: 5rem;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-35%, 300%);
        height: 20rem; } }
    .navigation__footer--item {
      display: inline-block;
      padding: 2rem;
      color: #808080;
      z-index: 2000; }
      @media (max-width: 75em) {
        .navigation__footer--item {
          transform: translate(-50%, -50%); } }
      @media (max-width: 25em) {
        .navigation__footer--item {
          padding: .5rem .5rem;
          text-align: center;
          line-height: .9;
          bottom: 0;
          position: relative;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 10%;
          box-sizing: inherit; } }
    .navigation__footer--link:link, .navigation__footer--link:visited {
      position: relative;
      font-size: 2rem;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;
      color: #fff; }
      @media (max-width: 75em) {
        .navigation__footer--link:link, .navigation__footer--link:visited {
          font-size: 1.6rem;
          color: #f1f1f1; } }
      @media (max-width: 56.25em) {
        .navigation__footer--link:link, .navigation__footer--link:visited {
          font-size: 1.6rem;
          color: #f1f1f1; } }
      @media (max-width: 25em) {
        .navigation__footer--link:link, .navigation__footer--link:visited {
          color: #f1f1f1;
          font-size: 2.5rem; } }
    .navigation__footer--link:hover, .navigation__footer--link:active {
      text-decoration: none; }
    .navigation__footer--link::after {
      border-radius: 1rem;
      border-top: 0.2rem solid #e74c3c;
      content: "";
      position: absolute;
      right: 100%;
      bottom: .14rem;
      left: 0;
      transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out; }
    .navigation__footer--link:hover::after {
      right: 0;
      border-color: #e74c3c; }

.info {
  position: relative;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5vh; }

.feature-box {
  text-align: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  padding: .5rem;
  height: 55%;
  border-radius: 3px;
  background-color: #fff; }
  @media (max-width: 75em) {
    .feature-box {
      font-size: 1.8rem; } }
  @media (max-width: 25em) {
    .feature-box {
      font-size: 1.8rem; } }
  .feature-box__text {
    height: 40%;
    margin: 2rem;
    padding: .5rem; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.05);
    box-shadow: 0 0.5rem 6rem rgba(0, 0, 0, 0.6); }

.testimonials {
  width: 95%;
  height: 40%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6rem;
  border-radius: 5px;
  color: #fff; }
  .testimonials__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-1rem); }
    .testimonials__shape--photo {
      height: 100%;
      transform: skewX(8deg) translateX(-3rem) scale(1.1); }
    .testimonials__shape--name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      opacity: 0;
      transition: all .3s;
      backface-visibility: hidden; }
    .testimonials__shape:hover .testimonials__shape--name {
      opacity: 1;
      transform: translate(-50%, 80%); }
    .testimonials__shape:hover .testimonials__shape--photo {
      transform: skewX(8deg) translateX(-3rem) scale(1);
      filter: blur(2px) brightness(0.95); }

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden; }
  .video-bg__container {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.reservation {
  background-image: url(/img/img2.jpg);
  background-size: cover;
  height: 50rem;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  font-size: 1.6rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.45);
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 50%, transparent 50%), url(../../img/img2.jpg); }
  .reservation__logo-box {
    height: 100%; }
  .reservation__logo {
    height: 14rem;
    display: block;
    margin: 3rem;
    cursor: pointer; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  color: inherit;
  width: 40%;
  display: block;
  margin: .2rem 2rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff4338; }
  .form__input::webkit-input-placeholder {
    border-bottom: 3px solid #e74c3c; }

.form__label {
  margin: .2rem 2rem;
  font-size: 1.4rem;
  display: block;
  padding: .5rem 2rem;
  transition: all 1s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form__radio-group {
  padding-left: 2rem;
  width: 50%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem; }

.form__radio-button {
  height: 2rem;
  width: 2rem;
  border: 5px solid #e74c3c;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -2rem;
  top: -.3rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    background-color: #e74c3c;
    position: absolute;
    left: .2rem;
    top: .3rem;
    opacity: 0;
    transition: opacity 1s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.btn, .btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  color: #000;
  cursor: pointer;
  z-index: 800; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after, .btn:link::after, .btn:visited::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    border-radius: 10rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .4s; }

.btn .btn-text:link, .btn .btn-text:visited {
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 3px;
  transition: all .2s; }

.btn .btn-text:hover {
  background-color: #fff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn .btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.btn__red {
  color: #e74c3c;
  border: 1px solid #e74c3c;
  margin: 1.5rem 4rem;
  background-color: #fff; }
  .btn__red:hover {
    color: #fff; }
  .btn__red::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 0;
    background: #e74c3c;
    z-index: -1;
    transition: .8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    color: #fff; }
  .btn__red:hover::before {
    height: 180%; }

.footer {
  background-color: #111619;
  padding: 10rem 0;
  width: 100%;
  position: relative;
  text-align: center; }
  .footer__logo-box {
    top: 4rem;
    left: 4rem;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .footer__logo-box {
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 3rem;
        padding: 2rem;
        position: absolute;
        display: block; } }
    @media (max-width: 25em) {
      .footer__logo-box {
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 3rem;
        padding: 2rem;
        position: absolute;
        display: block; } }
  .footer__logo {
    width: 7rem;
    height: auto; }
  .footer__newsletter {
    color: #fff; }
    @media (max-width: 37.5em) {
      .footer__newsletter {
        margin: 2rem;
        display: block;
        text-align: center; } }
    @media (max-width: 25em) {
      .footer__newsletter {
        margin: 2rem; }
        .footer__newsletter--code {
          left: 50%;
          transform: translate(20%, -50%);
          font-size: 1.8rem; } }
    @media (max-width: 25em) and (max-width: 37.5em) {
      .footer__newsletter--code {
        font-size: 1.8rem;
        width: 70%; } }
    @media (max-width: 25em) and (max-width: 25em) {
      .footer__newsletter--code {
        font-size: 1.8rem;
        width: 70%; } }
    .footer__newsletter--sign-up {
      cursor: pointer;
      text-decoration: none;
      color: #f1f1f1; }
      @media (max-width: 37.5em) {
        .footer__newsletter--sign-up {
          left: 50%;
          transform: translate(20%, -50%);
          font-size: 2rem;
          width: 70%;
          margin-top: 3rem; } }
      @media (max-width: 25em) {
        .footer__newsletter--sign-up {
          left: 50%;
          transform: translate(20%, -50%);
          font-size: 1.8rem;
          width: 70%; } }
  .footer__navigation {
    border-top: 1px solid #fff;
    color: #fff;
    padding: .5rem;
    display: inline-block;
    font-size: 1.4rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .footer__navigation {
        font-size: 1.9rem;
        margin: 0 auto;
        width: 90vw; } }
    @media (max-width: 25em) {
      .footer__navigation {
        font-size: 1.8rem;
        margin: 0 auto;
        width: 90vw; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    cursor: pointer;
    padding: .2rem; }
    @media (max-width: 37.5em) {
      .footer__item {
        left: 50%; } }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .footer__link:link, .footer__link:visited {
        font-size: 1.8rem;
        text-align: center; } }
    @media (max-width: 25em) {
      .footer__link:link, .footer__link:visited {
        font-size: 1.8rem; } }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .footer__copyright {
    display: block;
    text-align: center;
    color: #3a3636;
    padding-top: 1rem;
    font-size: 1.1rem; }
    @media (max-width: 37.5em) {
      .footer__copyright {
        font-size: 1.5rem; } }
    @media (max-width: 25em) {
      .footer__copyright {
        font-size: 1.4rem; } }

.composition {
  width: 100vw;
  position: relative;
  padding: 5rem 0; }
  .composition__card--1 {
    background-color: #fff;
    position: absolute;
    right: 12.556vw;
    z-index: 1;
    padding: 5.556vw;
    width: 27.778vw;
    top: 20%; }
    @media (max-width: 56.25em) {
      .composition__card--1 {
        width: 38.778vw;
        transform: translate(20%, 0); } }
    @media (max-width: 37.5em) {
      .composition__card--1 {
        width: 60%;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 60%; } }
    @media (max-width: 25em) {
      .composition__card--1 {
        width: 60%;
        transform: translate(-40%, -20%);
        top: 60%;
        right: 0; } }
  .composition__card--2 {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 5.556vw; }
    @media (max-width: 25em) {
      .composition__card--2 {
        width: 100%;
        display: block;
        top: 50%;
        left: 0;
        margin-top: 15vh; } }
  .composition__card--3 {
    background-color: #fff;
    position: absolute;
    right: 2.556vw;
    z-index: 1;
    padding: 5.556vw;
    width: 27.778vw;
    top: 5%; }
    @media (max-width: 75em) {
      .composition__card--3 {
        right: 0;
        transform: translate(-30%, 0);
        width: 32.778vw;
        top: 0; } }
    @media (max-width: 56.25em) {
      .composition__card--3 {
        right: 0;
        transform: translate(-30%, 100%);
        width: 55.778vw; } }
    @media (max-width: 37.5em) {
      .composition__card--3 {
        right: 0;
        transform: translate(0, 50%);
        width: 65vw;
        display: block;
        top: 0; } }
    @media (max-width: 25em) {
      .composition__card--3 {
        width: 75vw;
        right: 0;
        top: -5%;
        left: 50%;
        transform: translate(-50%, 50%);
        margin-bottom: 10vh;
        height: 100%; } }
  .composition__photo {
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    margin: 10vh;
    position: relative; }
    @media (max-width: 56.25em) {
      .composition__photo {
        margin: 5vh; } }
    @media (max-width: 37.5em) {
      .composition__photo {
        margin: 5vh; } }
    @media (max-width: 25em) {
      .composition__photo {
        width: 100vw;
        margin: 0;
        margin-bottom: 10vh; } }
    .composition__photo--1 {
      width: 50.444vw;
      height: 54.44vw;
      top: -5vw;
      position: relative; }
      @media (max-width: 56.25em) {
        .composition__photo--1 {
          width: 50.444vw;
          height: 68.44vw; } }
      @media (max-width: 37.5em) {
        .composition__photo--1 {
          top: 0;
          width: 83vw;
          height: 70vh;
          transform: translate(0%, 0); } }
    .composition__photo--2 {
      height: 100vh;
      padding: 0;
      margin: 0;
      width: 100%;
      background-size: cover;
      background-image: url(/img/house-luxury.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative; }
      @media (max-width: 37.5em) {
        .composition__photo--2 {
          height: 60vh; } }
      @media (max-width: 25em) {
        .composition__photo--2 {
          height: 60vh; } }
    .composition__photo--3 {
      top: 15vh;
      right: 0;
      width: 85.556vw;
      transform: translate(0%, -20%);
      position: relative; }
      @media (max-width: 56.25em) {
        .composition__photo--3 {
          top: -0;
          width: 95vw;
          transform: translate(0%, -20%); } }
      @media (max-width: 37.5em) {
        .composition__photo--3 {
          width: 100vw;
          right: 0;
          transform: translate(-40%, 0); } }
      @media (max-width: 25em) {
        .composition__photo--3 {
          width: 100vw;
          height: 50vh;
          transform: translate(0%, -30%); } }

.span__red {
  width: 20%;
  height: 2px;
  background: #e74c3c;
  display: block;
  margin-top: 2rem; }
  @media (max-width: 25em) {
    .span__red {
      width: 40%; } }

@media (max-width: 37.5em) {
  .span__white {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    transform: translate(-50%, 0%);
    text-align: center;
    left: 0;
    top: 0;
    margin: 2rem 0; } }

@media (max-width: 25em) {
  .span__white {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    position: absolute;
    transform: translate(-50%, 0%);
    text-align: center;
    left: 0;
    top: 0;
    margin: 2rem 0; } }

.dark-big-span {
  color: #808080;
  font-size: 4.5rem; }
  @media (max-width: 75em) {
    .dark-big-span {
      color: #f1f1f1;
      font-size: 3.5rem;
      text-align: center;
      margin-right: 1rem; } }
  @media (max-width: 56.25em) {
    .dark-big-span {
      color: #f1f1f1;
      font-size: 3.5rem;
      text-align: center;
      margin-right: 1rem; } }
  @media (max-width: 37.5em) {
    .dark-big-span {
      display: none; } }
  @media (max-width: 25em) {
    .dark-big-span {
      display: none; } }

.menu {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0%, 16.6%);
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  padding: 2em 4rem;
  margin: 0 3rem;
  transition: background 250ms ease-in;
  overflow: hidden; }
  @media (max-width: 25em) {
    .menu {
      width: 100vw;
      margin: 0;
      padding: 0; } }
  .menu__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30rem;
    height: 10rem; }
    @media (max-width: 75em) {
      .menu__list {
        height: 6rem; } }
    @media (max-width: 56.25em) {
      .menu__list {
        height: 6rem; } }
    @media (max-width: 37.5em) {
      .menu__list {
        display: none; } }
    @media (max-width: 25em) {
      .menu__list {
        display: none; } }
    .menu__list--item {
      top: 0;
      right: 0; }
      @media (max-width: 25em) {
        .menu__list--item {
          display: none; } }
      @media (max-width: 37.5em) {
        .menu__list--item {
          display: none; } }
  .menu__link {
    --spacing: 1em;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0 2rem .2rem 2rem;
    margin-bottom: .5rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    z-index: 1200;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .menu__link:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: var(--spacing);
      right: var(--spacing);
      height: 1px;
      background: #e74c3c;
      transform: scaleX(0);
      transition: transform .4s ease-in-out; }
    .menu__link:hover::after {
      transform: scaleX(1); }

.toggle-btn {
  width: 10rem;
  height: 10rem;
  background-color: #e74c3c;
  z-index: 2000; }
  @media (max-width: 37.5em) {
    .toggle-btn {
      background-color: transparent;
      top: 0;
      right: 0;
      transform: translate(80%, -50%); } }
  @media (max-width: 25em) {
    .toggle-btn {
      background-color: transparent;
      top: 10vh;
      right: 0;
      transform: translate(15%, -10%); } }
  .toggle-btn__span--one {
    position: absolute;
    width: 4rem;
    height: 2px;
    background: #fff;
    margin-top: 4rem;
    margin-left: 3rem; }
  .toggle-btn__span--two {
    position: absolute;
    width: 4rem;
    height: 2px;
    background: #fff;
    margin-top: 5rem;
    margin-left: 3rem; }
  .toggle-btn__span--three {
    position: absolute;
    width: 4rem;
    height: 2px;
    background: #fff;
    margin-top: 6rem;
    margin-left: 3rem; }

.nav__scrolled {
  background-color: #fff; }

.link__scrolled {
  color: #000; }
