*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 40rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    backface-visibility: hidden; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
    margin-bottom: 6rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
  color: #fff; }
  .heading-secondary__testimonials {
    color: #000; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #8f2323;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: .5rem; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.section-info {
  background-color: #cc9d3a;
  height: 115vh;
  padding: 20rem 0;
  margin-top: -20vh; }

.section-features {
  height: 40vh;
  padding: 4rem 2rem;
  background-color: #f7f7f7;
  margin: 0; }

.section-testimonials {
  position: relative;
  padding: 15rem 0; }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6)), url("../../img/img-1.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }

.col-1-of-4 {
  width: calc((100% - 3*6rem)/4); }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline: 0.5rem solid #fff; }
    .composition__photo--3 {
      left: 0;
      top: -2rem; }
    .composition__photo--2 {
      left: 18rem;
      top: 6rem; }
    .composition__photo--1 {
      left: -5rem;
      top: 25rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }

.feature-box {
  text-align: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  padding: .5rem;
  height: 55%;
  border-radius: 3px; }
  .feature-box__text {
    height: 40%;
    margin: 2rem;
    padding: .5rem; }
  .feature-box:hover {
    transform: translateY(-0.5rem) scale(1.05);
    box-shadow: 0 0.5rem 6rem rgba(0, 0, 0, 0.6); }

.testimonials {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 6rem;
  border-radius: 3px;
  transform: skewX(-8deg); }
  .testimonials__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(8deg); }
    .testimonials__shape--photo {
      height: 100%;
      transform: skewX(8deg) translateX(-3rem) scale(1.1); }
    .testimonials__shape--name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      opacity: 0;
      transition: all .3s;
      backface-visibility: hidden; }
    .testimonials__shape:hover .testimonials__shape--name {
      opacity: 1;
      transform: translate(-50%, 80%); }
    .testimonials__shape:hover .testimonials__shape--photo {
      transform: skewX(8deg) translateX(-3rem) scale(1);
      filter: blur(2px) brightness(0.95); }

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .3;
  z-index: -1;
  top: 0;
  left: 0; }
  .video-bg__container {
    height: 100%;
    width: 100%;
    object-fit: cover; }
