.header{
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
    to right,
     rgba($color-black, .5), rgba($color-black, .6) ), url('../../img/img-1.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);
  animation: slide 30s infinite;

  &__logo-box{
    position: absolute;
    top:3.5rem;
    left: 3.5rem;
  }
  &__logo{
    height: 3.5rem;
    position:fixed;
  }
  &__text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}

