.header{
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
    to right,
     rgba($color-black, .1), rgba($color-black, .6) ), url('../../img/img-1.jpg');
  background-size: cover;
  clip-path: polygon(0 0,100% 0,100% 75vh, 0 100%);

  // &__logo-box{
  //   position: absolute;
  //   top:4rem;
  //   left: 4rem;
  //   height: 3.5rem;
  // }
  // &__logo{
  //   height: 3.5rem;
  //   background-color:$color-white;
  // }
  &__text-box{
    top:50%;
    left:50%;
    transform: translate(50%, 50%);
  }
}

