.navigation{
  background: url(/img/img1_grey2.jpg) no-repeat;
  background-size: cover;
  box-sizing: inherit;
  width: 100vw;
  height:100%;
  z-index: 900;
  position: fixed;
  top:-100%;
  margin:0;
  padding:0;
  overflow: hidden;

  @include respond(phone-big) {
    overflow-y: visible;
  }
  @include respond(phone) {
    overflow-y: visible;
  }
  &__logo--box{
    position: absolute;
    display:block;
    width: 8.5rem;
    top:10%;
    left:50%;
    transform:translate(-50%, -50%);
    transition: opacity;
    z-index:2000;

    @include respond(tab-port) {
      top:10%;
      margin-bottom: 2rem;
      width: 10.5rem;
    }
    @include respond(phone-big) {
      top:20%;
      margin-bottom: 2rem;
      width: 10.5rem;
    }
    @include respond(phone) {
      margin-bottom: 4rem;
      width: 9.5rem;
      top:7%;
    }

  }

  &__logo{
    width: 8.5rem;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 3rem;

    @include respond(tab-port) {
      width: 9.5rem;
      padding-bottom: 3rem;
      margin-top: 3rem;
    }

    @include respond(phone-big) {
      display: block;
      width: 10.5rem;
      margin: 3rem;
    }

    @include respond(phone) {
      width: 9.5rem;
      margin-top: 8rem;
    }
  }

  &__list{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    z-index:2000;

    @include respond(tab-land) {
      width:60%;
    }      
    @include respond(tab-port) {
     width:80%;
    }
    @include respond(phone-big) {
      text-align: left;
      left:30%;
      top:70%;
      margin: .5rem 3rem .5rem 6rem;
     
    }
    @include respond(phone) {
      text-align: left;
      left:30%;
      margin: .5rem 3rem .5rem 5rem;
    }
  }
  &__item{
    display: inline-block;
    padding: 1rem;
    margin: 0 2rem;
    z-index:2000;

    @include respond(tab-land) {
      padding:.5rem;
      margin:.5rem;
    }      
    @include respond(tab-port) {
      padding:.5rem;
    }
    @include respond(phone-big) {
      display: block;
      padding: 0;
      margin:0.5rem;
    }
    @include respond(phone) {
      display: block;
      padding: 0 5rem;
      margin:0.5rem;
    }
  }
  &__link{
    &:link,
    &:visited{
      position: relative;
      font-size: 4rem;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;
      color: $color-white;
      z-index:2000;

      @include respond(tab-land) {
        font-size: 3rem;
        padding:.5rem;
        margin:.5rem;
      }      
      @include respond(tab-port) {
        font-size: 3rem;
      }
      @include respond(phone-big) {
        margin-top: 1rem;
        font-size: 5rem;
        margin:.5rem;
        font-weight: 200;
      }
      @include respond(phone) {
        margin-top: 1rem;
        font-size: 5rem;
        margin:.5rem;
        font-weight: 200;
      }
    }
    &:hover,
    &:active{
      text-decoration: none;
    }
    &::after{
      border-radius: 1rem;
      border-top: .2rem solid $color-red-dark;
      content:"";
      position: absolute;
      right:100%;
      bottom:.24rem;
      left:0;
      transition: right .4s cubic-bezier(0,.5,0,1),
                  border-color .4s ease-out;
    }
    &:hover::after{
      right:0;
      border-color: $color-red-dark;
    }
  }
  &__icon{
    position: relative;
    margin-top:4.5rem;
    margin-left:.5rem;
    z-index: 1500;

    @include respond(phone) {
      margin-top:3rem;
      margin-left:0;
    }
    
    &,
    &::before,
    &::after{
      width: 4rem;
      height: 2px;
      background-color: $color-white;
      display:inline-block;

      @include respond(phone) {
        width: 3rem;
        height: 1px;
      }
      
    }
    &::before,
    &::after{
      content:"";
      position: absolute;
      left:0;
      transition: all .2s;
    }
    &::before{
      top:-.8rem;

      @include respond(phone) {
        top:1rem;
      }
      
    }
    &::after{
      top:.8rem;

      @include respond(phone) {
        top:1.9rem;
      }
    }
    &--contact,
    &--booking{
      height: 10rem;
      width: 10rem;
      position: fixed;
      z-index:2000;
      text-align: center;
      cursor: pointer;
      background-color: transparent;
    }
  }

  &__footer{
    padding: 1.8rem 0;
    bottom:10%;
    position: absolute;
    transform: translate(-50%, 100%);
    left:50%;
    list-style: none;
    z-index:2000;
    
    @include respond(tab-land) {
      margin-top:5rem;
      padding-top: 5rem;
      padding-bottom: 3rem;
      transform: translate(-50%, 50%);
      width: 100vw;
      text-align: center;
      bottom: 5%;
    }      
    @include respond(tab-port) {
      margin-top:5rem;
      padding-top: 5rem;
      padding-bottom: 3rem;
      transform: translate(-50%, -50%);
      width: 100vw;
    }
    @include respond(phone-big) {
      width: 80vw;
      margin-top:5rem;
      position: relative;
      transform: translate(-50%, 350%);
      height: 30rem;
     }
    @include respond(phone) {
     width: 80vw;
     margin-top:5rem;
     padding-right: 5rem;
     position: relative;
     top:50%;
     left:50%;
     transform: translate(-50%, 300%);
     height: 20 rem;
    }

    &--item{
      display: inline-block;
      padding: 2rem;
      color: $color-grey-light-2;
      z-index:2000;

      @include respond(tab-land) {
        transform: translate(-50%, -50%);
      }     
      @include respond(phone) {
        padding:.5rem .5rem;
        text-align:center;
        line-height: .9;
        bottom: 0;
        position: relative;
        transform: translate(-50%, -50%);
        top:50%;
        left: 10%;
        box-sizing: inherit;
      }
    }

    &--link{
      &:link,
      &:visited{
        position: relative;
        font-size: 2rem;
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;
        color: $color-white;
        
        @include respond(tab-land) {
          font-size: 1.6rem;
          color: $color-grey-light-1;
        }
        @include respond(tab-port) {
          font-size: 1.6rem;
          color: $color-grey-light-1;
        }
        @include respond(phone) {
          color: $color-grey-light-1;
          font-size: 2.5rem;
        }
      }
      &:hover,
      &:active{
        text-decoration: none;
      }
      &::after{
        border-radius: 1rem;
        border-top: .2rem solid $color-red-dark;
        content:"";
        position: absolute;
        right:100%;
        bottom:.14rem;
        left:0;
        transition: right .4s cubic-bezier(0,.5,0,1),
                    border-color .4s ease-out;
      }
      &:hover::after{
        right:0;
        border-color: $color-red-dark;
      }
    }
  }

  

}

