.navigation{
  &__checkbox{
    display: none;
    height: 10rem;
    width: 30rem;
  }

  &__image{
    z-index: 1000;
    top:0;
    left:0;
    width:100%;
    position: absolute;
    filter: grayscale(100%) brightness(20%);
    will-change: transform;
    

    &--photo{
      top:0;
      left:0;
      width:100%;
      left:100%;
      object-fit: cover;
      background-color: rgba($color-grey-dark-3, 0.96);
    }
  }

  &__footer{
    color:$color-grey-light-2;
    padding: 2rem 0;
    bottom:10%;
    position: absolute;
    transform: translate(90%, 50%);
    list-style: none;
    z-index: 1500;

    &--item{
      display: inline-block;
      padding: 2rem;
      color: $color-grey-light-2;
    }

    &--link{
      &:link,
      &:visited{
        position: relative;
        font-size: 2rem;
        font-weight: 300;
        text-decoration: none;
        cursor: pointer;
        color: $color-grey-light-2;
      }
      &:hover,
      &:active{
        text-decoration: none;
      }
      &::after{
        border-radius: 1rem;
        border-top: .2rem solid $color-red-dark;
        content:"";
        position: absolute;
        right:100%;
        bottom:.14rem;
        left:0;
        transition: right .4s cubic-bezier(0,.5,0,1),
                    border-color .4s ease-out;
      }
      &:hover::after{
        right:0;
        border-color: $color-red-dark;
      }
    }
  }

  &__button{
    height: 10rem;
    width: 10rem;
    position: fixed;
    top:6rem;
    right:6rem;
    z-index:2000;
    text-align: center;
    cursor: pointer;
    background-color: $color-red-dark;
    box-shadow: 0 3px 20px rgba(black, 0.2);
  }
  &__bg{
    height: 9.5rem;
    width: 9.5rem;
    position: fixed;
    top:6.5rem;
    right:6.5rem;
    z-index:500;
    transition: all .8s;
  }
  
  &__nav{
    height: 100vh;
    position:fixed;
    top:0;
    right:0;
    z-index: 1500;
    opacity:0;
    width: 0;
  }
  &__logo-box{
    position:relative;
    display:inline-block;
    width: 4.5rem;
    top:10%;
    left:50%;
    transform:translate(-50%, -50%);
    transition: opacity;
    z-index: 1500;
  }

  &__logo{
    width: 8.5rem;
    text-align: center;
    padding-top: 3rem;
  }
  &__list{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    z-index: 1500;
  }
  &__item{
    display: inline-block;
    padding: 1rem;
  }
  &__link{
    &:link,
    &:visited{
      position: relative;
      font-size: 5rem;
      font-weight: 300;
      text-decoration: none;
      cursor: pointer;
      color: $color-white;
    }
    &:hover,
    &:active{
      text-decoration: none;
    }
    &::after{
      border-radius: 1rem;
      border-top: .2rem solid $color-red-dark;
      content:"";
      position: absolute;
      right:100%;
      bottom:.24rem;
      left:0;
      transition: right .4s cubic-bezier(0,.5,0,1),
                  border-color .4s ease-out;
    }
    &:hover::after{
      right:0;
      border-color: $color-red-dark;
    }
  }
  &__checkbox:checked ~ &__bg{
   transform: scale(80);

  }

  &__checkbox:checked ~ &__nav{
    opacity:1;
    width: 100%;
  }
  &__icon{
    position: relative;
    margin-top:4.5rem;
    margin-left:.5rem;
    z-index: 1500;
    
    &,
    &::before,
    &::after{
      width: 4rem;
      height: 2px;
      background-color: $color-white;
      display:inline-block;
    }
    &::before,
    &::after{
      content:"";
      position: absolute;
      left:0;
      transition: all .2s;
    }
    &::before{
      top:-.8rem;
    }
    &::after{
      top:.8rem;
    }
    &--contact,
    &--booking{
      height: 10rem;
      width: 10rem;
      position: fixed;
      z-index:2000;
      text-align: center;
      cursor: pointer;
      background-color: transparent;
    }
  }
  &__button:hover &__icon::before{
    top:-1rem;
  }

  &__button:hover &__icon::after{
    top: 1rem;
  }
  &__checkbox:checked + &__button &__icon{
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before{
    top:0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after{
    top:0;
    transform: rotate(-135deg);
  }
  &__menu{
    color: $color-white;
    background-color: transparent;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    transform: translate(-7.8%, 16.6%);
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 3em;
    transition: background 250ms ease-in;
    background: var(--background);

  }

  .main-nav{
    height: 10rem;
    width: 30rem;
    position: fixed;
    top:6rem;
    right:6rem;
    z-index:2000;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    transform: translate(-5.2%, -10.7%);
  }
  
  .nav__list {
    list-style: none;
    margin-top:4.5rem;
    margin-left:.5rem;
    padding: 0;
    display: flex;
    left:100%;
    
  }
  
  .nav__link {
    --spacing: 1em;
    text-decoration: none;
    color: $color-white;
    display: inline-block;
    padding: 1rem 2rem .2rem 2rem;
    margin-bottom: 3rem;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    z-index: 1200;
    text-align: center;
  
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: var(--spacing);
      right: var(--spacing);
      height: 1px;
      background: $color-red-dark;
      transform: scaleX(0);
      transition: transform 150ms ease-in-out;
    }
  
    &:hover::after {
      transform: scaleX(1);
    }
  }
  
  .nav__scrolled {
    background-color: $color-white;
    
  }
  .link__scrolled {
    color:$color-black;
  }
}