//COLORS

$color-white:#fff;
$color-black:#000;
$color-grey-dark: #3a3636;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-light-1: #f1f1f1;
$color-grey-light-2:#808080;
$color-red: #ff4338;
$color-red-dark:	#e74c3c;
$color-yellow-dark:#cc9d3a;
$color-green-olive:#111619;


//FONT 
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;