//COLORS

$color-white:#fff;
$color-black:#000;
$color-grey-dark: #777;
$color-grey-light-1: #CDC4B2;
$color-red-dark:	#A75222;
$color-yellow-dark:#cc9d3a;
$color-green-olive:#2A441D;


//FONT 
$default-font-size:1.6rem;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;