.composition{
  width: 100%;
  position: relative;
  padding: 15rem 0;

  &__card--1{
    
    @include respond(phone) {
     
    }
  }
  &__card--2{
   
    
    @include respond(phone) {
      width:100%;
      transform: translate(-50%, -50%);
      top:50%;
      left:50%;
     }
  }

  &__card--3{
   

    @include respond(phone) {
    
     }
  }
  
  &__photo{
  
    
    &--1{
     
      @include respond(phone) {
        
       }
    }
    &--2{
     
    }

    &--3{
    
    }
  }
}
