.reservation{
  background-image: url(/img/img2.jpg);
  background-size: cover;
  height: 50rem;
  width: 100%;
  top: 0;
  left:0;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .45);
  background-image: linear-gradient(105deg,
                  rgba($color-white, .6)0%,
                  rgba($color-white, .6)50%,
                  transparent 50%), url(../../img/img2.jpg);
  &__logo-box{
    height: 100%;
   }
  &__logo{
      height: 14rem;
      display: block;
      margin: 3rem;
      cursor: pointer;
  }
}