@import "../abstract/variables";

body{
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color:$color-grey-dark;
    padding:0;
}
.heading-primary{
  color:$color-white;
  // text-transform: uppercase;
  
  &--main{
    display: block;
    font-size: 3rem;
    font-weight: 600;
    animation: moveInLeft 1s ease-out ;
    backface-visibility: hidden;
  }
  &--sub{
    display: block;
    font-size: 8rem;
    font-weight: 400;
    // letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out ;
    margin-bottom: 6rem;
  }
  &--description{
    font-weight: 200;
  }
}
.heading-secondary{
  font-size:7.5rem;
  font-weight: 300;
  display:inline-block;
  letter-spacing: .2rem;
  margin-bottom: .5rem;
  color:$color-black;
  display: block;

  &__testimonials{
    color:$color-black
  }
}
.heading-tertiary{
  font-size: 1.8rem;
  color:$color-red-dark;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: .5rem;

  &__reservation{
    padding-left: 3rem ;
    padding-top: 3rem;
    font-size: 1.9rem;
  }
  &__invitation{
    color:$color-white;
    font-size: 3.5rem;
    text-transform: initial;
  }  
}
.paragraph{
  font-size: $default-font-size;
  color:$color-black;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
}

.dark-big-span{
  color:$color-grey-light-2;
  font-size: 4.5rem;
}

