.section-info{
  background-color: $color-yellow-dark;
  height: 115vh;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features{
  height: 40vh;
  padding: 4rem 2rem;
  background-color: $color-green-olive;
  margin:0;
}
.section-testimonials{
  position: relative;
  height: 80vh;
  padding: 15rem 0;
}

.section-reservation{
  padding: 5rem 0;
  background-image:linear-gradient($color-grey-light-1) ;
  background-size: cover;
  height: 80vh;
}